# sdist contents beyond the setuptools defaults (package sources, README.md,
# LICENSE, pyproject.toml). Ship the test suite so downstream packagers (e.g.
# conda-forge) can run it from the sdist, plus the changelog and citation
# metadata. Docs sources, demo GIF assets, and CI/tooling configs stay out to
# keep the sdist lean; they live in the GitHub tree and the Zenodo archive of
# each release. Wheels are unaffected (they are built from the package list in
# [tool.setuptools.packages.find]).
include CHANGELOG.md
include CITATION.cff
recursive-include tests *.py
